
 body {
            margin: 0;
            font-family: "Cairo", sans-serif;
            background: #f3f6fa; /**/
            overflow-x: hidden;
        }

        /* ====== HEADER ====== */
        header {
            width: 90%;
            background: #ffffff;
            padding: 15px 20.5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 15px rgba(0,0,0,0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
            animation: fadeDown 0.8s ease;
        }

        /* Animation for header */
        @keyframes fadeDown {
            0% { opacity: 0; transform: translateY(-20px); }
            100% { opacity: 1; transform: translateY(0); }
        }

        /* ====== Logo ====== */
        .logo {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 19px;
            font-weight: bold;
           /* color: #004aad;*/
           /*color: #0d355f;*/
           color: #0d355f;
            animation: fadeIn 1.2s ease;
        }

        .logo img {
            width: 50px;
            animation: rotateIn 1.3s ease;
        }

        /* Logo animations */
        @keyframes rotateIn {
            0% { transform: scale(0) rotate(-180deg); opacity: 0; }
            100% { transform: scale(1) rotate(0); opacity: 1; }
        }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        /* ====== Desktop Navigation ====== */
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 25px;
        }

        nav ul li a {
            text-decoration: none;
            font-size: 18px;
            color: #333;
            padding: 8px 15px;
            border-radius: 8px;
            font-weight: 500;
            transition: 0.3s ease;
        }

        nav ul li a:hover {
            background: #004aad;
            color: #fff;
        }

        /* ====== Menu Button (Mobile) ====== */
        .menu-btn {
            display: none;
            font-size: 27px;
            cursor: pointer;
            
        }

        .menu-btn {
                display: block;
                color:#0d355f;/*5dcbf3*/
            }       
nav {
    display: none;
}

/* HEADER main الجديد */
header_main {
    background: url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?auto=format&fit=crop&w=1350&q=80') 
                center/cover;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    margin-top: 20px;
    color: white;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

/* العناوين داخل الشعار */
header_main h1 {
    font-size: 26px;
    margin-bottom: 250px;
}

header_main .logo h2 {
    font-size: 22px;
    margin-top: -5px;
}

/* القائمة الأفقية */
.main-menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 20px;
    padding: 0;
}

.main-menu ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.main-menu ul li a:hover {
    border-bottom: 2px solid #fff;
}

        section {
            max-width: 1000px;
            margin: 40px auto;
            background: white;
            padding: 30px;
            border-radius: 10px;
        }
      #about  h2 {
        color:#013064;/*5dcbf3*/
        text-align: center;
        }
         #about  p {
        color:#b8262d;;
        text-align: center;
        font-weight: bold;
        }

        /* SERVICES GRID */
        .services, .gallery{
            display: grid;
         grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
         gap: 20px;
         }
         .services{
            display: grid;
           grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
           gap: 20px;
           padding: 50px 0;
           max-width: 300px;
           margin: auto;
           
         }
         .fon{
             text-align: center;
             color:#0d355f;
         }
         #services{
             background:#9eaebf;
         }
         #services h2{
             text-align: center;
             color:#0d355f;
         }
         .gallery img{
            width: 100%;
            height: 100;
            object-fit: contain;
            border-radius: 6px;
         }
         .card{
            background: #ffffff;
            padding-bottom: 18px;
            border-radius: 6px;
            text-align: center;
            box-shadow: 0 4px 12px rgba(0,0,0,0.08);
         }
         .services .card img{
            width: 100%;
            height: 100;
            object-fit: fill;
            border-radius: 6px;
         }
         .services .card h2{
            font-size: 15px;
             font-weight: bold;
             font-family: "Tajawal", sans-serif;
         }
/*قسم اعرف اكثر*/
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  background:#f3f6fa;
}
.feature {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.feature img{
    width: 35px;
    margin-left: 10px;
}
  /* Reset بسيط */
  {box-sizing:border-box;margin:0;padding:0}
  html,body{height:100%}



 #features h1.title{
    font-size:25px;
    font-weight:800;
    text-align: center;
    color:#1e4b7a;
  }

  /* الصندوق الكبير الدائري */
  .big-pill{
    position:relative;
    background:linear-gradient(180deg, #9eaebf, #9eaebf 100%);
    border-radius:100px;
    
    box-shadow: 0 6px 0 rgba(11,74,67,0.06) inset;
    overflow:visible;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    left: -75px;
    width:180px;
    height:30px;
  }

  /* الحبة الداكنة */
  .pill-button{
    width:min(100px,30%);
    max-width:180px;
    height:82px;
    background:#1e4b7a;
    color:#fff;
    border-radius:999px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:34px;
    font-weight:800;
    box-shadow: 0 8px 18px rgba(11,74,67,0.12);
    margin: 5px auto;
    
    transform: translateY(5px); /* ترفعها قليلاً فوق منتصف الصندوق */
  }

 

  /* لمسات responsiveness */
 @media (max-width:720px){
    h1.title{ font-size:40px; margin-bottom:22px; }
    .pill-button{ height:76px; font-size:24px; width:80%; }
    .big-pill{ padding:28px 18px; }
    .sub-text{ font-size:22px; margin-top:16px; }
  }
  
.feature h3{
    color: #1e4b7a;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
}
.feature p{
    
    font-size: 15px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;

}
      /*   #services h2 {
         color:#0d355f;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
         }
        .service-box {
         
           background:#0d355f;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            transition: 0.3s;
            color:#000000;
            font-weight: bold;
            
        }
        .service-box:hover {
            background: #d2dceb;
            transform: translateY(-5px);
        }
        #gallery h2{
            color: #0d355f;
            font-size: 25px;
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }
.services, .gallery{
   display: grid;
grid-template-columns:repeat(2,minmax(200px,1fr));
gap: 20px;
}
.gallery img{
    width: 45%;
    height: 90px;
    
    border-radius: 6px;
}*/

        /* CONTACT */
       
contact {
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    margin: auto;
    direction: rtl;
    text-align: right;
    font-family: "Tajawal", sans-serif;
}
#contact .logo2{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 17px;
    font-weight: bold;
   /* color: #004aad;*/
   /*color: #0d355f;*/
   color: #0d355f;
    animation: fadeIn 1.2s ease;
}
#contact .logo2 img{
    width: 50px;
    animation: rotateIn 1.3s ease;
}
#contact p{
    font-size: 15px;
    font-weight: bold;
    font-family: "Tajawal", sans-serif;
}
#contact h2{
    color: #0d355f;
    font-size: 21px;
    font-weight: 600px;
    font-family: "Tajawal", sans-serif;
}
#contact h3{
    color: #0d355f;
    font-size: 21px;
    font-weight: 600px;
    font-family: "Tajawal", sans-serif;
    
}
.contact-list li span{
    text-decoration: none;
    color: #0d355f;
    font-size: 15px;
   
}
.contact-list a {
    text-decoration: none;
    color: #0d355f;
    font-size: 19px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.contact-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-social-list {
    display: flex;
    flex-direction: row; /* جعل الاتجاه أفقي */
    gap: 15px; /* مسافة بين الأيقونات */
    justify-content: center; /* توسيطها (اختياري) */
}
.contact-list li,
.contact-social-list li {
    display: flex;
    align-items: center;
    margin: 12px 0;
    font-size: 18px;
}

.contact-list img{
    width: 28px;
    margin-left: 10px;
}
.contact-social-list img {
    width: 32px;
    margin-left: 10px;
}

.contact-social-list a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.contact-social-list a:hover {
    color: #007bff;
    transform: translateX(-3px);
}
#order h2{
    color: #0d355f;
    font-size: 22px;
    text-align: center;
    font-family: 'Arial', sans-serif;

}
        /* FORM */
        form input, form select, form textarea {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border-radius: 6px;
            border: 1px solid #bbb;
            font-size: 15px;
        }
        form button {
            background: #1e4b7a;
            color: white;
            padding: 8px 10px;
            border: none;
            font-size: 17px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s;
        }
        form button:hover { background: #0a2740; }

        .footer {
            padding: 20px;
            margin-top: 40px;
            background: #1e4b7a;
            color: #ffffff;
            font-size: 14px;
            text-align: center;
            border-top: 2px solid #0d355f;
              
        }
